<form> 
    <input type="text" placeholder="name">
    <select title="instrument" defaultValue="instrument">
        <option>instrument</option>
        <option>Guitar</option>
        <option>Piano</option>
        <option>Drums</option>
        <option>Flute</option>
        <option>Clarinet</option>
        <option>Bass</option>
        <option>Triangle</option>
        <option>Cowbell</option>
        <option>Theremin</option>
        <option>Saxophone</option>
    </select>
    <select  title="genre" defaultValue="genre">
        <option>genre</option>
        <option>Pop</option>
        <option>Rock</option>
        <option>Blues</option>
        <option>Electronic</option>
        <option>Jam</option>
        <option>Rap</option>
        <option>Indie</option>
        <option>Americana</option>
        <option>Folk</option>
        <option>Jazz</option>
    </select>
    <select  title="distance" defaultValue="distance">
        <option>distance</option>
        <option>0-5</option>
        <option>0-10</option>
        <option>0-15</option>
        <option>0-20</option>
        <option>0-25</option>
        <option>25-50</option>
        <option>50+</option>
    </select>
    <button (click)="switchView()" type="submit" name="search">Search for Jammers</button>
</form>
