<nav>
    <div class="title-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="animate-charcter">Let's Jam</h3>
                </div>
            </div>
        </div>
        <div>
            <img height="60px" width="60px" src="../assets/guitar.png">
            <img height="60px" width="60px" src="../assets/laptop.png">
            <img height="60px" width="60px" src="../assets/music.png">
            <img height="60px" width="60px" src="../assets/listening.png">
            <img height="60px" width="60px" src="../assets/chat.png">
        </div>
    </div>
    <button>Your Profile</button>
</nav>