<h2>Matches: </h2>
<ul class="box">
    <li *ngFor="let found of founds; index as i, let id of ids; index as o" class="jammerProfile">
    <div class="profileImage">
        <img class="image" src="../assets/cat.png">
    </div>
    <div class="flexDiv">
        <div class="jammerInfo">
            <p><span class="bolded">Name: </span>{{founds[i].name}}</p>
            <p><span class="bolded">Instruments: </span>{{founds[i].instruments.join(", ")}}</p>
            <!-- <p><span class="bolded">Looking for Instruments: </span>{{founds[i].needs_instruments}}</p> -->
            <p><span class="bolded">Genre: </span> {{founds[i].genres.join(", ")}}</p>
            <p><span class="bolded">Distance: </span>{{founds[i].distance}}</p>
            <p><span class="bolded">About Me: </span> {{founds[i].about}}</p>
        </div>
        <div class="letsjamButton">
            <button (click)="this.addUser(ids[o])">Let's Jam!</button>
        </div>
    </div>
    </li>
</ul>

<!-- <span class="badge">{{hero.id}}</span> -->