<div class="jammerProfile">
    <div class="profileImage">
        <img height="300px" width="300px" src="../assets/guitar.png">
    </div>
    <div class="flexDiv">
        <div class="jammerInfo">
            <p>Name: Pablo</p>
            <p>Instrument: Guitar </p>
            <p>Genre: Indie Groove Jam Americana</p>
            <p>Distance: 5 miles away</p>
            <p>About Me: I'm usually free on Thursday evenings if you want to jam! </p>
        </div>
        <div class="letsjamButton">
            <button>Let's Jam!</button>
        </div>
    </div>
</div>