.jammerProfile {
    display: flex;
    flex-direction: row;
    color: rgb(80, 92, 103);
    align-items: center;
    height: 34vh;
    width: 5vw;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.jamRequests {
    border-radius: 3px;
    font-family: ABeeZee, sans-serif;
    background-color: rgba(98, 98, 167, 0.4);
    ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 0%;
    justify-content: space-between
}

.box {
    border-radius: 10px;
    border: solid 1px lightgrey;
    box-shadow: rgb(80, 92, 103);
    padding: 1rem;
    height: 77vh;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #6969dd #e0e0e0;
    width: 50vw;
}

.box::-webkit-scrollbar {
    width: 16px;
}

.box::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.box::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #8be7e4 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

.jammerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    padding-left: 2em;
    height: 10vh;
    width: 11vw;
    border-radius: 20px;
    font-size: 2vh;
}

button {
    border-radius: 4px;
    background: yellowgreen;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    font-size: large;





}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: navy
}

.bolded {
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Cute Font', cursive;

}

.flexDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.letsjamButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 12em;
    margin-left: 2vw;
}

p {
    margin: 0px;
}

li {
    list-style: none;
}

img {

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 34vh;
    width: auto;
}

h2 {
    font-family: Cute Font, cursive;
    font-size: 3em;
    margin-top: -4vh;
}