.jammerProfile {
    display: flex;
    flex-direction: row;
}

.jamRequests {
    border-radius: 3px;
    font-family: Arial;
    background-image: linear-gradient(to right, rgb(224, 205, 205), rgb(181, 240, 242));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 0%;
}

.box {
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #6969dd #e0e0e0;
}

.box::-webkit-scrollbar {
    width: 16px;
}

.box::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.box::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #8be7e4 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

.jammerInfo {
    padding-left: 2em;
    background: white;
    opacity: 0.5;
    height: 10em;
    width: 40em;
    border-radius: 2px;
}
button {
    border-radius: 4px;
    background: yellowgreen;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    font-size: x-large;
    margin-left: 1em;


}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: navy
}