<div class="userProfile">
    <div class="userProfileImage">
        <img height="300px" width="300px" src="../assets/guitar.png">
    </div>
    <div class="userProfileDiv">
        <form class="UserEdit">
            <p><span class="bolded">Name: </span> <input type="text" /></p>
            <p><span class="bolded">Jam ZIP Code: </span> <input type="text" /></p>
            <p><span class="bolded">My Instruments: </span> <input type="text" /></p>
            <p><span class="bolded">Genre: </span><input type="text" /></p>
            <p><span class="bolded">My Email: </span> <input type="text" /></p>
            <p><span class="bolded">About Me: </span><input type="text" /></p>
        <div class="letsjamButton">
            <button (click)="submit()" type="submit">Submit Changes</button>
        </div>
        </form>
    </div>
</div>