.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    font-family: ABeeZee, sans-serif;
    border: solid 2px lightgray;
    border-radius: 10px;
    padding: 10px;
     box-shadow: rgb(80, 92, 103);
}


.bolded {
        font-weight: bolder;
        font-size: xx-large;
        font-family: 'Cute Font', cursive;

    }


button {
    border-radius: 4px;
    background: rgb(108, 149, 236);
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    font-size: x-large;
    margin-left: 1em;


}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: navy
}

p {
    margin-left: 1em;
}