<div>
    <h2>Friends</h2>
    <ul class="friendsList">
        <li *ngFor="let friend of friends; index as i" class="jamRequests">
            <div class="jammerProfile">
                <div class="profileImage">
                    <img height="300px" width="300px" src="{{friends[i].picture_url}}">
                </div>
                <div class="flexDiv">
                    <div class="jammerInfo">
                        <p><span class="bolded">Name: </span>{{friends[i].name}}</p>
                        <!-- <p><span class="bolded">Instrument: </span>{{friends[i].instruments}}</p> -->
                        <!-- <p><span class="bolded">Genre: </span>{{friends[i].genres}}</p> -->
                        <p><span class="bolded">ZIP Code: </span>{{friends[i].zipcode}}</p>
                        <p><span class="bolded">About Me: </span>{{friends[i].about}}</p>
                        <p><span class="bolded">Email: </span>{{friends[i].display_email}}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
