.jammerProfile {
    display: flex;
    flex-direction: row;
    color: rgb(80, 92, 103);
    align-items: center;

}

.jamRequests {
    border-radius: 3px;
    font-family: ABeeZee, sans-serif;
    background-color: rgba(98, 98, 167, 0.4);
    ;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    margin-top: 0%;
    border-radius: 20px;
}

.friendsList {
    padding: 1rem;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: #6969dd #e0e0e0;
}

.friendsList::-webkit-scrollbar {
    width: 16px;
}

.friendsList::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.friendsList::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #8be7e4 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

.jammerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding-left: 2em;
    height: 10em;
    width: 40em;
    border-radius: 20px;
}

button {
    border-radius: 4px;
    background: yellowgreen;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    font-size: x-large;
    margin: .5em;



}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: navy
}

.bolded {
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Cute Font', cursive;

}

.flexDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.letsjamButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

p {
    margin: 0px;
}

li {
    list-style: none;
}

img {

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}