<div class="userProfile">
    <div class="userProfileImage">
        <img height="300px" width="300px" src="../assets/guitar.png">
    </div>
    <div class="userProfileDiv">
        <div class="UserInfo">
            <p><span class="bolded">Name: </span> Pablo</p>
            <p><span class="bolded">Instrument: </span> Guitar </p>
            <p><span class="bolded">Genre: </span> Indie Groove Jam Americana</p>
            <p><span class="bolded">Distance: </span> 5 miles away</p>
            <p><span class="bolded">About Me: </span> I'm usually free on Thursday evenings if you want to jam! </p>
        </div>
        <div class="letsjamButton">
            <button>Edit Profile</button>
        </div>
    </div>
</div>
