.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.user-profile-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    /* margin: 2vw; */
    
}

.bolded {
    font-weight: bold;
    font-family: Cute Font, cursive;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 30vw;
}

button {
    border-radius: 4px;
    background: rgb(108, 149, 236);
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-family: 'Cute Font', cursive;
    font-size: x-large;
    margin-left: 1em;


}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: navy
}
p{
 margin-left: 1em;
}

h2 {
    font-family: Cute Font, cursive;
    font-size: 3em;
}